#series-table tbody tr:hover {
    cursor: pointer;
}

.field-newpositionform-seriesid {
    display: none;
}

div[id^=series-] {
    display: none;
}

.left-crop .fa {
    width: 20px;
}

.left-crop {
    padding-left: 5px;
}

.brands-list td:nth-child(2),
.brands-list th:nth-child(2) {
    width: 300px;
    text-align: center;
}

.list-view .summary {
    padding: 5px 0 10px;
}

.list-view .pagination {
    margin: 0 auto;
}

.list-view .pages {
    padding-top: 20px;
    text-align: center;
}

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  padding: 4px 5px;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/*
 * Fixed menu (positions blocks):
 */
.positions-blocks.fixed {
    position: fixed;
    top: 10px;
    right: 0;
}

/*
 * Position monitor page:
 */
.remove-price, .edit-price {
    width: 40px;
}

/*
 * Brand page:
 */
.product-article:hover {
    background: #eee;
    cursor: pointer;
}

.product-article input {
    border: 1px solid #ccc;
    width: 70px;
}

.product-article form {
    display: none;
}